<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB05yMMdmly4At5SNK5R5hit07SVoxLb4E</string>
	<key>GCM_SENDER_ID</key>
	<string>498902327183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.auburn.onlinecsse.nju0004-CPSC5340-Final-Project</string>
	<key>PROJECT_ID</key>
	<string>iospetadoptionapp</string>
	<key>STORAGE_BUCKET</key>
	<string>iospetadoptionapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498902327183:ios:a4524c3377b10ca00eb5fa</string>
</dict>
</plist>